@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body {
  font-family: Oswald, sans-serif;
  background-image: radial-gradient(rgb(63, 63, 63), rgb(11, 11, 11));
}

.title {
  color: white;
  font-size: 96px;
  font-weight: bold;
  font-family: inherit;
  line-height: 100px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px, 0px;
}

.button {
  font-family: inherit;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-size: 28px;
  padding: 25px 50px;
  text-align: center;
  text-transform: uppercase;
  transition:
    background 0.3s ease,
    transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
  margin: 10px;
}

.button:hover {
  transform: scale(1.02);
}

.button:active {
  transform: scale(0.98);
}
